In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv('predict_energy_data_train.csv')
data

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Energy
0,1111,22.700000,37.200000,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,...,45.360000,20.200000,38.663333,12.80,760.050000,62.000000,3.500000,28.000000,5.650,70
1,1112,21.500000,41.045000,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,...,34.663333,19.730000,37.933333,8.47,764.166667,48.166667,8.000000,26.500000,-1.920,210
2,1113,21.666667,38.000000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,...,38.545000,19.790000,39.430000,10.60,757.600000,57.000000,2.000000,27.000000,2.400,50
3,1114,23.290000,38.530000,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,...,38.600000,22.600000,36.194286,11.60,760.600000,63.000000,1.000000,40.000000,4.670,50
4,1115,24.000000,42.560000,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,...,44.230000,22.600000,44.090000,17.70,756.983333,63.000000,1.000000,21.500000,10.400,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15775,16886,20.730000,45.693333,19.133333,42.230000,20.600000,41.230000,19.566667,38.200000,17.790000,...,42.832778,18.000000,39.730000,3.33,738.066667,88.666667,3.000000,64.666667,1.670,90
15776,16887,24.500000,36.663333,25.042857,33.754286,24.700000,34.030000,25.000000,35.457143,24.040000,...,36.700000,23.390000,33.816000,10.20,756.583333,55.000000,5.166667,40.000000,1.500,90
15777,16888,22.200000,46.000000,21.290000,45.700000,23.200000,46.000000,20.390000,49.030000,19.890000,...,56.270000,18.166667,52.290000,9.83,759.033333,97.666667,4.333333,49.666667,9.430,50
15778,16889,24.500000,44.790000,23.937143,42.328571,26.700000,38.363333,24.600000,42.390000,22.700000,...,48.796667,22.700000,44.290000,17.40,756.000000,68.000000,3.666667,49.000000,11.300,60
15779,16890,20.890000,37.800000,19.700000,37.433333,20.790000,36.466667,19.390000,34.633333,18.671429,...,37.790000,17.700000,35.290000,3.60,751.533333,80.000000,2.666667,20.666667,0.367,130

In [4]:
data.shape

(15780, 26)

In [5]:
data.head()

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Energy
0,1111,22.700000,37.200,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,...,45.360000,20.20,38.663333,12.80,760.050000,62.000000,3.5,28.0,5.65,70
1,1112,21.500000,41.045,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,...,34.663333,19.73,37.933333,8.47,764.166667,48.166667,8.0,26.5,-1.92,210
2,1113,21.666667,38.000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,...,38.545000,19.79,39.430000,10.60,757.600000,57.000000,2.0,27.0,2.40,50
3,1114,23.290000,38.530,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,...,38.600000,22.60,36.194286,11.60,760.600000,63.000000,1.0,40.0,4.67,50
4,1115,24.000000,42.560,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,...,44.230000,22.60,44.090000,17.70,756.983333,63.000000,1.0,21.5,10.40,250

In [6]:
data.tail()

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Energy
15775,16886,20.73,45.693333,19.133333,42.230000,20.60,41.230000,19.566667,38.200000,17.790000,...,42.832778,18.000000,39.730,3.33,738.066667,88.666667,3.000000,64.666667,1.670,90
15776,16887,24.50,36.663333,25.042857,33.754286,24.70,34.030000,25.000000,35.457143,24.040000,...,36.700000,23.390000,33.816,10.20,756.583333,55.000000,5.166667,40.000000,1.500,90
15777,16888,22.20,46.000000,21.290000,45.700000,23.20,46.000000,20.390000,49.030000,19.890000,...,56.270000,18.166667,52.290,9.83,759.033333,97.666667,4.333333,49.666667,9.430,50
15778,16889,24.50,44.790000,23.937143,42.328571,26.70,38.363333,24.600000,42.390000,22.700000,...,48.796667,22.700000,44.290,17.40,756.000000,68.000000,3.666667,49.000000,11.300,60
15779,16890,20.89,37.800000,19.700000,37.433333,20.79,36.466667,19.390000,34.633333,18.671429,...,37.790000,17.700000,35.290,3.60,751.533333,80.000000,2.666667,20.666667,0.367,130

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15780 entries, 0 to 15779
Data columns (total 26 columns):
Observation    15780 non-null int64
T1             15780 non-null float64
RH_1           15780 non-null float64
T2             15780 non-null float64
RH_2           15780 non-null float64
T3             15780 non-null float64
RH_3           15780 non-null float64
T4             15780 non-null float64
RH_4           15780 non-null float64
T5             15780 non-null float64
RH_5           15780 non-null float64
T6             15780 non-null float64
RH_6           15780 non-null float64
T7             15780 non-null float64
RH_7           15780 non-null float64
T8             15780 non-null float64
RH_8           15780 non-null float64
T9             15780 non-null float64
RH_9           15780 non-null float64
T_out          15780 non-null float64
Press_mm_hg    15780 non-null float64
RH_out         15780 non-null float64
Windspeed      15780 non-null float64
Visibility     15780 non-null float64
Tdewpoint      15780 non-null float64
Energy         15780 non-null int64
dtypes: float64(24), int64(2)
memory usage: 3.1 MB

In [8]:
X = data[data.columns[1:25]]
y = data['Energy']
print(X.shape)
print(y.shape)

(15780, 24)
(15780,)

In [9]:
X.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
0,22.700000,37.200,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,42.826667,...,22.700000,45.360000,20.20,38.663333,12.80,760.050000,62.000000,3.5,28.0,5.65
1,21.500000,41.045,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,44.663333,...,22.926667,34.663333,19.73,37.933333,8.47,764.166667,48.166667,8.0,26.5,-1.92
2,21.666667,38.000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,46.200000,...,21.890000,38.545000,19.79,39.430000,10.60,757.600000,57.000000,2.0,27.0,2.40
3,23.290000,38.530,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,43.625714,...,24.890000,38.600000,22.60,36.194286,11.60,760.600000,63.000000,1.0,40.0,4.67
4,24.000000,42.560,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,49.090000,...,23.390000,44.230000,22.60,44.090000,17.70,756.983333,63.000000,1.0,21.5,10.40

In [10]:
y.head()

0     70
1    210
2     50
3     50
4    250
Name: Energy, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=4)

In [12]:
print("X_trian",X_train.shape)
print("y_train",y_train.shape)
print("X_test",X_test.shape)
print("y_test",y_test.shape)

X_trian (11046, 24)
y_train (11046,)
X_test (4734, 24)
y_test (4734,)

#### Linear Regression

In [26]:
res = LinearRegression(normalize=True)
res.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [27]:
y_pred = res.predict(X_test)

In [28]:
from sklearn.metrics import mean_squared_error, r2_score
print('mse',mean_squared_error(y_test,y_pred))

print('r2_score',r2_score(y_test,y_pred))

mse 8780.609370921313
r2_score 0.14162766481715094

### RandomForest

In [29]:
from sklearn.ensemble import RandomForestRegressor
res_random = RandomForestRegressor(n_estimators = 1000)
res_random.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [30]:
y_p = res_random.predict(X_test)
print('mse',mean_squared_error(y_test,y_p))
print('r2_score',r2_score(y_test,y_p))

mse 5120.7672979509925
r2_score 0.4994054742912498

### Extratree classifier

In [25]:
from sklearn.ensemble import ExtraTreesRegressor
res_extra = ExtraTreesRegressor(n_estimators = 1000,max_depth = None)
res_extra.fit(X_train,y_train)
y_prediction = res_extra.predict(X_test)
print('mse',mean_squared_error(y_test,y_prediction))
print('r2', r2_score(y_test,y_prediction))

mse 4578.557558681876
r2 0.5524106611062602

In [47]:
mse 5113.334448162231
r2_score 0.5001320927252018